body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Haritanın tüm ekranı kaplaması için */
body, html, #root {
  height: 100%;
  margin: 0;
}

.leaflet-container {
  width: 100%;
  height: 100vh; /* Ekran yüksekliğinin tamamı */
}